<!DOCTYPE html>

<html>

<head>
    <title>知道百科</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

<div style="margin: 250px; white-space:nowrap;" align="center">
    <div align="center">
        <img src="/static/figs/baidu_logo.jpg" width="100px" height="100px" />
        <h1>知道百科搜索</h1><br/>
    </div>
    <form action="/s" method="GET">
        <input type="text" name="keyword" placeholder="输入" style="width: 600px;"/>
        <input type="submit" value="搜索" class="button" style="width: 120px;"/>
        <div class="dropdown inline-block">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                搜索选项
            </button>
            <div id="search-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">全部</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">百科-标题</a>
                <a class="dropdown-item" href="#">百科-内容</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">知道-问题</a>
                <a class="dropdown-item" href="#">知道-回答</a>
            </div>
            <script type="text/javascript">
                $('#search-opt a').on('click', function(){
                    document.getElementById('dropdownMenuButton').innerHTML = $(this).text();
                    document.getElementById('search-opt-input').value = $(this).text();
                });
            </script>
        </div>
        <input type="hidden" name="search-opt" id="search-opt-input" value="全部"></input>
        <input type="hidden" name="page" value=1></input>
    </form>
</div>

</body>

</html>
