<!DOCTYPE html>

<html>

<head>
    <title>知道</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</script>
</head>

<body style="background-color: #f5f5f5">

    <div id="bk_zd_page">

        <div id="zd_q">
            <p class="weight-bold">{{ zd_doc.question }}</p>
        </div>

    </div>


</body>